@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

:root {
    --b: #000;
    --w: #fff;
    --main: #6feab6;
    --m-alt: #00bec4;
    --main-hover: #6feab7a6;
    --m-alt-hover: #00bec48f;
    --f-r: 400;
    --f-m: 500;
    --f-sb: 600;
    --f-b: 700;
    --main-gradient: linear-gradient(to right, rgba(111, 234, 182, 0.85) 0%, rgba(0, 190, 196, 0.85) 100%);
    --m-alt-gradient: linear-gradient(to right, rgba(0, 190, 196, 0.85) 0%, rgba(111, 234, 182, 0.85) 100%);
    --bg: #f9f9f9;
}

img {
    width: 100px;
}

.bbMainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--bg);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(255, 255, 255, 0.8) inset;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.bbLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main);
}

.bbLogo img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.bbLogo h3 {
    font-size: 24px;
    font-weight: var(--f-b);
}

.bbLogo h3 span {
    color: var(--m-alt);
}

.bbNavLinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.bbNavLinks li {
    margin-right: 20px;
}

.bbNavLinks li a {
    text-decoration: none;
    color: var(--m-alt);
    text-transform: capitalize;
    font-weight: var(--f-b);
    transition: color 0.3s ease;
}

.bbNavLinks li a:hover {
    color: var(--m-alt-hover);
}

.bbLoginContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1.5rem;
}

.bbLoginContainer button {
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    color: var(--b);
    font-weight: var(--f-sb);
    transition: background 0.3s ease;
}

.signupBtn {
    background: var(--main);
}

.signupBtn:hover {
    background: var(--main-hover);
}

.loginBtn {
    background: var(--m-alt);
}

.loginBtn:hover {
    background: var(--m-alt-hover);
}

.bbMainSection {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bbRow {
    display: flex;
    gap: 20px;
}

.bbCalculate,
.bbResult {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px 5px 15px rgba(255, 255, 255, 0.8) inset;
}

.bbCalculate p,
.bbResult p {
    text-align: center;
    font-weight: var(--f-m);
    color: var(--b);
}

footer {
    position: relative;
    bottom: 0;
    background-color: var(--bg);
    padding: 20px 0;
    border-radius: 12px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1),
        0px 5px 15px rgba(255, 255, 255, 0.8) inset;

}

bbFooterContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
    font-weight: var(--f-sb);
    color: var(--b);
}

.bbFooterLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bbFooterLinks li {
    margin-right: 20px;
}

.bbFooterLinks li a {
    text-decoration: none;
    color: var(--m-alt);
    transition: color 0.3s ease;
    font-weight: var(--f-b);
}

.bbFooterLinks li a:hover {
    color: var(--m-alt-hover);
}